<div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
    <span>Write Your Day!</span>
    <a href="/note/create" class="btn btn-sm btn-light border border-warning">Create</a>
</div>
<div class="d-flex justify-content-between flex-wrap">
<% notes.forEach(note => { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= note.title %> </h5>
        <p class="card-text"><%= note.note %> </p>
        <a href="/note/detail/<%= note._id %>" class="card-link">More..</a>
      </div>
    </div>
    <% }) %>
</div>