<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="" method="post" class="shadow p-3 mb-5 bg-body rounded">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="My Notes">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </form>
        </div>
    </div>
</div>